@using AssignmentM2M.Models.Entities
@model IEnumerable<Item>
@{
    var supplier = (Supplier?)ViewData["Supplier"];
    ViewData["Title"] = 
        $"Add an item to {supplier!.SupplierCode} {supplier!.Name}";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Operations
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="create" asp-controller="SupplierItem"
                            asp-route-id="@supplier!.SupplierCode" 
                            asp-route-itemId="@item!.Id">Add Item</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    <a asp-action="Details" asp-controller="Supplier" asp-route-id="@supplier.SupplierCode">Back to Supplier Details</a>
</div>
