@model IEnumerable<AssignmentM2M.Models.Entities.Store>
@{
    ViewData["Title"] = "Stores";
}
<div class="jumbotron text-center">
  <h1>Stores</h1>
</div>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a> | <a class="btn btn-primary" asp-action="ItemCountFilter">Filter stores by their item count</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
               Operations
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.StoreCode">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.StoreCode">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.StoreCode">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
